.login {
  width: 300px;
  margin: auto;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login input {
  padding: 10px;
  border: 1px solid #ccc;
}

.login button {
  padding: 10px;
  background: rgb(11, 181, 233);
  border: none;
  color: white;
  cursor: pointer;
}

.google-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #f1f1f1;
  padding: 10px;
  cursor: pointer;
}

.google-btn img {
  width: 25px;
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.spin {
  width: 60px;
  height: 60px;
  border: 6px solid #444;
  border-top: 6px solid #e50914;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}
.crr {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
.abc {
  text-align: center;
  margin-top: 1px;
}
.g-login-top {
  width: 50px;
  height: 50px;
}
.login h2 {
  text-align: center;
}