/* SIDEBAR BASE */
.yt-sidebar {
  width: 240px;
  height: 100vh;
  background: white;
  padding-top: 70px;
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: auto;
  border-right: 1px solid #ddd;
  transition: width 0.25s ease;
}

.yt-sidebar.closed {
  width: 70px;
}

/* INNER LIST */
.yt-sidebar-inner {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 10px;
}

/* ITEM STYLE */
.yt-item {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 10px 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.2s ease;
}

/* Hover like YouTube */
.yt-item:hover {
  background: #f2f2f2;
}

/* ACTIVE ITEM */
.yt-item.active {
  background: #e5e5e5;
  font-weight: 600;
}

.yt-item.active .yt-label {
  font-weight: 700;
}


/* ICON */
.yt-icon {
  width: 22px;
  height: 22px;
}

/* Collapsed view */
.yt-sidebar.closed .yt-item {
  padding: 12px 0;
  justify-content: center;
  gap: 0;
}

.yt-sidebar.closed .yt-label {
  opacity: 0;
  width: 0;
  overflow: hidden;
}

/* Divider */
.yt-sidebar hr {
  border: none;
  border-bottom: 1px solid #ddd;
  margin: 10px 0;
}
